*.coverage
*.idea*
.kitchen/
.vagrant/
chef-repo/vendor-cookbooks/
.check.*
*.swp
package.tgz
package.tgz.enc
unpack.sh
/.kitchen.yml

# Python-related things to ignore.
*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.pyc
*.pyo
build
dist
.kitchen.local.yml

# Key material that should never be in source
*.pem
!cacert.pem
*.key

# Ignore the temporary original vault contents
ansible/roles/*/vars/**/.ignore.*
ansible/playbooks/work/*

settings.json
vault_password_file

# Ignore common outputs directory
BUILT

# Ignore pytest cache directories
.cache

# Python virtualenv
.venv/

# Files and directories created when testing mcs-push
bamboo/mcs-push/aws_kinesis_agg/
bamboo/mcs-push/certifi-2017.11.5.dist-info/
bamboo/mcs-push/certifi/
bamboo/mcs-push/chardet-3.0.4.dist-info/
bamboo/mcs-push/chardet/
bamboo/mcs-push/easy_install.py
bamboo/mcs-push/google/
bamboo/mcs-push/idna-2.6.dist-info/
bamboo/mcs-push/idna/
bamboo/mcs-push/pkg_resources/
bamboo/mcs-push/protobuf-3.5.0.post1-py2.7-nspkg.pth
bamboo/mcs-push/protobuf-3.5.0.post1.dist-info/
bamboo/mcs-push/requests-2.18.4.dist-info/
bamboo/mcs-push/requests/
bamboo/mcs-push/setuptools-38.2.1.dist-info/
bamboo/mcs-push/setuptools/
bamboo/mcs-push/six-1.11.0.dist-info/
bamboo/mcs-push/six.py
bamboo/mcs-push/urllib3-1.22.dist-info/
bamboo/mcs-push/urllib3/

# Files and directories created when testing weather-wizard
ww/CloudTest.txt
ww/ww_lib/CloudTest.txt

# VSCode
.vscode
.vscode/*
*.code-workspace