*.coverage
.DS_Store
*.idea*
.kitchen/
.vagrant/
chef-repo/vendor-cookbooks/
.check.*
*.swp
package.tgz
package.tgz.enc
unpack.sh
/.kitchen.yml
*.iml
*.zip

# Python-related things to ignore.
*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.pyc
*.pyo
build
dist
.kitchen.local.yml

# Key material that should never be in source
*.pem
!cacert.pem
*.key

# Ignore the temporary original vault contents
ansible/roles/*/vars/**/.ignore.*
ansible/playbooks/work/*

settings.json
vault_password_file

# Ignore common outputs directory
BUILT

# Ignore pytest cache directories
.cache

# Python virtualenv
.venv/

# Python-related things to ignore.
*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.pyc
*.pyo
build
dist
.kitchen.local.yml
.pytest_cache

# VSCode
.vscode
.vscode/*
*.code-workspace
.env
*.env

# Jenkins
.jenkins

# Terraform artifacts
.terraform/
*/.terraform/
*.tfstate
backend-config.tfvars.json
terraform.tfvars.json
.terraform.lock.hcl
terraform/fsc/logging/log_shipping_lambda/src/*/
terraform.tfvars.json