---
- name: "Dump all variables."
  debug:
    var: vars

- block:
    - import_tasks: create-ami-instance-stack.yml
  rescue:
    #- import_tasks: get-console-output.yml
    - import_tasks: delete-ami-instance-stack.yml
  always:
    - import_tasks: download-logs.yml
  when: stage == '1'

- block:
    - import_tasks: create-ami.yml
  when: stage == '2'

- block:
    - import_tasks: copy-ami.yml
  when: stage == '3'
