---
# Upload Files
# Documentation: http://ansible-manual.readthedocs.io/en/latest/s3_module.html
- name: "Upload the config file for {{stack.iam.role.cloud_email_roles}} to the config bucket {{cloud_applications}}"
  s3:
    mode:               put
    region:             "{{account.region}}"
    bucket:             "{{cloud_applications}}"
    object:             "{{build.branch}}/xgemail-infrastructure/roles_xgemail_template.json"
    src:                "{{template.iam.role.roles_xgemail_template}}"
    overwrite:          always

# CloudEmail IAM Roles
- name: "Deploy {{stack.iam.role.cloud_email_roles}} to {{account.name}} {{account.region}}"
  cloudformation:
    stack_name:                                 "{{stack.iam.role.cloud_email_roles}}"
    state:                                      present
    region:                                     "{{account.region}}"
    disable_rollback:                           true
    template_url:                               "https://s3.amazonaws.com/{{cloud_applications}}/{{build.branch}}/xgemail-infrastructure/roles_xgemail_template.json"
    template_parameters:
      Environment:                              "{{account.name}}"
      XgemailMsgHistoryBucketName:              "{{s3.msg_history_bucket}}"
      XgemailMsgHistoryMsBucketName:            "{{s3.msg_history_ms_bucket}}"
      XgemailPolicyBucketName:                  "{{s3.policy_bucket}}"
      XgemailQuarantineBucketName:              "{{s3.quarantine_bucket}}"
      XgemailInternetSubmitBucketName:          "{{s3.internet_submit_bucket}}"
      XgemailCustomerSubmitBucketName:          "{{s3.customer_submit_bucket}}"
      DeliveryDirectorDynamodbTableName:        "{{dynamodb.delivery_director_dynamodb}}"
      DeliveryDirectorBucketName:               "{{s3.delivery_director_bucket}}"
      MsgHistoryV2StreamName:                   "{{kinesis.firehose.msg_history_v2_stream_name}}"
      MsgHistoryV2BucketName:                   "{{s3.msg_history_v2_bucket_name}}"
      MsgHistoryV2DynamoDbTableName:            "{{dynamodb.msg_history_v2_dynamodb}}"
  register: iam_stack

- debug:
  var: iam_stack
  verbosity: 3

- name: "Display IAM Stack Output"
  debug:
    msg: "{{iam_stack.stack_outputs}}"
    verbosity: 2

# IAM Role for Kinesis Firehose Delivery Stream
- name: "Deploy Kinesis Firehose Log Shipper IAM Role {{stack.iam.role.firehose_log_shipper_stream}} to {{account.name}}-{{account.region}}"
  cloudformation:
    stack_name:              "{{stack.iam.role.firehose_log_shipper_stream}}"
    state:                   present
    region:                  "{{account.region}}"
    disable_rollback:        true
    template:                "{{template.iam.role.roles_simple_template}}"
    template_parameters:
      RoleName:              "{{iam.role.firehose_log_shipper_stream}}"
      RolePath:              "/"
      TrustedServices:       "firehose.amazonaws.com"
  register: log_shipper_role_stack

- debug:
    var: log_shipper_role_stack
    verbosity: 3

- name: "Display Kinesis Firehose Log Shipper IAM Role Stack Output"
  debug:
    msg: "{{log_shipper_role_stack.stack_outputs}}"
    verbosity: 2

