---

- name: "Include CloudEmail VPC Creation Task."
  include_tasks: cloud-email-vpc.yml
  tags:
    - vpc

- name: "Include Route53 NAT Gateway A Record Creation Task."
  include_tasks: route53-nat-a-records.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC SSM Param Creation Task."
  include_tasks: ssm-parameters.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC SSM Documents Creation Task."
  include_tasks: ssm-documents.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC S3 Buckets Creation Task."
  include_tasks: s3-buckets.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Security Groups Creation Task."
  include_tasks: security-groups.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC IAM Roles Creation Task."
  include_tasks: iam-roles.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Kinesis Firehose Creation Task."
  include_tasks: kinesis-firehose.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Elasticsearch Domains Creation Task."
  include_tasks: elasticsearch-domains.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC IAM Policies Creation Task."
  include_tasks: iam-policies.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC SQS Queues Creation Task."
  include_tasks: sqs-queues.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC SNS Topics Creation Task."
  include_tasks: sns-topics.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC EFS Volumes Creation Task."
  include_tasks: efs-volumes.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Messaging Creation Task."
  include_tasks: xgemail-messaging.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Lambda Functions Creation Task."
  include_tasks: lambda-functions.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Events Rules Creation Task."
  include_tasks: events-rules.yml
  tags:
    - vpc

- name: "Include CloudEmail VPC Bastion Host Creation Task."
  include_tasks: bastion.yml
  tags:
    - vpc
