---
# Upload Files
- name: "Upload the config file for {{stack.msg.xgemail_messaging}} to the config bucket {{cloud_applications}}"
  s3:
    mode:               put
    region:             "{{account.region}}"
    bucket:             "{{cloud_applications}}"
    object:             "{{build.branch}}/xgemail-infrastructure/xgemail_messaging_a_template.json"
    src:                "{{template.msg.xgemail_messaging_a_template}}"
    overwrite:          always

# CloudEmail SNS subscriptions and SQS queue policy
- name: "Deploy {{stack.msg.xgemail_messaging}} to {{account.name}} {{account.region}}"
  cloudformation:
    stack_name: "{{stack.msg.xgemail_messaging}}"
    state: present
    region: "{{account.region}}"
    disable_rollback: true
    template_url:                                       "https://s3.amazonaws.com/{{cloud_applications}}/{{build.branch}}/xgemail-infrastructure/xgemail_messaging_a_template.json"
    template_parameters:
      AdditionalActionTopicArn:                         "{{sns.arn_prefix}}{{sns.additional_actions_sns_topic}}"
      AdditionalActionQueue:                            "{{sqs.additional_action_sqs_queue_sns_listener}}"
      AllowBlockUploadQueue:                            "{{sqs.allow_block_upload_sqs_queue}}"
      AtrReindexTopicArn:                               "{{sns.arn_prefix}}{{sns.atr_reindex_sns_topic}}"
      AtrReindexQueue:                                  "{{sqs.atr_reindex_sqs_queue_sns_listener}}"
      BounceEventTopicArn:                              "{{sns.arn_prefix}}{{sns.bounce_events_sns_topic}}"
      BulkSenderActionQueue:                            "{{sqs.bulk_sender_action_sqs_queue}}"
      BulkSenderApprovalQueue:                          "{{sqs.bulk_sender_approval_sqs_queue}}"
      BounceEventQueue:                                 "{{sqs.message_bounce_sqs_queue_sns_listener}}"
      CidrDeliveryQueue:                                "{{sqs.cidr_customer_delivery_sqs_queue_sns_listener}}"
      DelayTopicArn:                                    "{{sns.arn_prefix}}{{sns.delay_sns_topic}}"
      DeletedEventsTopicArn:                            "{{sns.arn_prefix}}{{sns.deleted_events_sns_topic}}"
      DelayQueue:                                       "{{sqs.delay_sqs_queue}}"
      DeliveryQueue:                                    "{{sqs.customer_delivery_sqs_queue_sns_listener}}"
      EncryptEventsTopicArn:                            "{{sns.arn_prefix}}{{sns.encrypt_events_sns_topic}}"
      EncryptionDeliveryEventsTopicArn:                 "{{sns.arn_prefix}}{{sns.encryption_delivery_events_sns_topic}}"
      EncryptionSettingsUpdateQueue:                    "{{sqs.encryption_settings_update_sqs_queue_sns_listener}}"
      EncryptionSettingsUpdateEventsTopicArn:           "{{sns.arn_prefix}}{{sns.encryption_settings_update_sns_topic}}"
      EmergencyInboxQueue:                              "{{sqs.emergency_inbox_sqs_queue_sns_listener}}"
      EncryptionDeliveryQueue:                          "{{sqs.encryption_delivery_sqs_queue_sns_listener}}"
      InternetDeliveryTopicArn:                         "{{sns.arn_prefix}}{{sns.internet_delivery_sns_topic}}"
      ImpersonationRequestQueue:                        "{{sqs.impersonation_request_queue}}"
      ImpersonationResponseQueue:                       "{{sqs.impersonation_response_queue}}"
      InternetDeliveryQueue:                            "{{sqs.internet_delivery_sqs_queue_sns_listener}}"
      MailOpsNotificationEmail:                         "SophosMailOps@sophos.com"
      MailOpsNotificationTopicArn:                      "{{sns.arn_prefix}}{{sns.mailops_notification_sns_topic}}"
      MessageHistoryEventsFailureTopicArn:              "{{sns.arn_prefix}}{{sns.msg_history_events_failure_sns_topic}}"
      MessageHistoryEventsTopicArn:                     "{{sns.arn_prefix}}{{sns.msg_history_events_sns_topic}}"
      MessageHistoryStatusQueueTopicArn:                "{{sns.arn_prefix}}{{sns.msg_history_status_sns_topic}}"
      MessageHistoryStatusRetryQueueTopicArn:           "{{sns.arn_prefix}}{{sns.msg_history_status_retry_sns_topic}}"
      MessageStatisticsRejectionTopicArn:               "{{sns.arn_prefix}}{{sns.msg_statistics_rejection_sns_topic}}"
      MessageHistoryQueue:                              "{{sqs.msg_history_sqs_queue_sns_listener}}"
      MessageHistoryStatusQueue:                        "{{sqs.msg_history_status_sqs_queue_sns_listener}}"
      MessageHistoryStatusRetryQueue:                   "{{sqs.msg_history_status_retry_sqs_queue_sns_listener}}"
      MessageStatisticsQueue:                           "{{sqs.msg_statistics_sqs_queue_sns_listener}}"
      MessageStatisticsRejectionQueue:                  "{{sqs.msg_statistics_rejection_sqs_queue}}"
      MfOutboundDeliveryTopicArn:                       "{{sns.arn_prefix}}{{sns.mf_outbound_delivery_sns_topic}}"
      MfSuccessEventsTopicArn:                          "{{sns.arn_prefix}}{{sns.mf_success_events_sns_topic}}"
      MultiPolicyQueue:                                 "{{sqs.multi_policy_sqs_queue}}"
      MultiPolicyTopicArn:                              "{{sns.arn_prefix}}{{sns.multi_policy_sns_topic}}"
      NotifierQueueTopicArn:                            "{{sns.arn_prefix}}{{sns.notification_sns_topic}}"
      NotifierQueue:                                    "{{sqs.notifier_request_sqs_queue}}"
      OutboundMalwareProtectionQueue:                   "{{sqs.outbound_malware_protection_queue_sns_listener}}"
      OutboundMalwareProtectionUnblockSenderQueue:      "{{sqs.outbound_malware_protection_unblock_sender_queue}}"
      PolicyRefreshEventTopicArn:                       "{{sns.arn_prefix}}{{sns.policy_refresh_event_sns_topic}}"
      PolicyRefreshEventQueue:                          "{{sqs.policy_refresh_event_sqs_queue_sns_listener}}"
      QuarantinedEventsTopicArn:                        "{{sns.arn_prefix}}{{sns.quarantined_events_sns_topic}}"
      QuarantineQueue:                                  "{{sqs.quarantine_sqs_queue_sns_listener}}"
      RedirectEventTopicArn:                            "{{sns.arn_prefix}}{{sns.redirect_events_sns_topic}}"
      RedirectEventQueue:                               "{{sqs.message_redirect_sqs_queue_sns_listener}}"
      RiskyDeliveryTopicArn:                            "{{sns.arn_prefix}}{{sns.risky_delivery_sns_topic}}"
      RiskyDeliveryQueue:                               "{{sqs.risky_delivery_sqs_queue_sns_listener}}"
      ScanEventsTopicArn:                               "{{sns.arn_prefix}}{{sns.scan_events_sns_topic}}"
      SuccessEventsTopicArn:                            "{{sns.arn_prefix}}{{sns.success_events_sns_topic}}"
      TocSettingsUpdateEventsTopicArn:                  "{{sns.arn_prefix}}{{sns.toc_settings_update_event_sns_topic}}"
      TocSettingsUpdateEventQueue:                      "{{sqs.toc_settings_update_sqs_queue_sns_listener}}"
      UserAllowBlockActionEventsTopicArn:               "{{sns.arn_prefix}}{{sns.user_allow_block_action_sns_topic}}"
      UserAllowBlockActionEventQueue:                   "{{sqs.user_allow_block_action_sqs_queue_sns_listener}}"
      UserDeletedActionEventsTopicArn:                  "{{sns.arn_prefix}}{{sns.user_deleted_action_sns_topic}}"
      UserDeletedActionEventQueue:                      "{{sqs.user_deleted_action_sqs_queue_sns_listener}}"
      WarmupDeliveryTopicArn:                           "{{sns.arn_prefix}}{{sns.warmup_delivery_sns_topic}}"
      WarmupDeliveryQueue:                              "{{sqs.warmup_delivery_sqs_queue_sns_listener}}"
      XgemailAlertQueue:                                "{{sqs.xgemail_alert_sqs_queue}}"
  register: messaging_stack

- debug:
    var: messaging_stack
    verbosity: 3

- name: "Display Xgemail Messaging Stack Output"
  debug:
    msg: "{{messaging_stack.stack_outputs}}"
    verbosity: 2

# CloudEmail SNS subscriptions and SQS queue policy
- name: "Deploy {{stack.msg.xgemail_messaging_b}} to {{account.name}} {{account.region}}"
  cloudformation:
    stack_name: "{{stack.msg.xgemail_messaging_b}}"
    state: present
    region: "{{account.region}}"
    disable_rollback: true
    template: "{{template.msg.xgemail_messaging_b_template}}"
    template_parameters:
      AdditionalActionQueue:          "{{sqs.additional_action_sqs_queue_sns_listener}}"
      BetaDeliveryQueue:              "{{sqs.beta_delivery_sqs_queue_sns_listener}}"
      BetaDeliveryTopicArn:           "{{sns.arn_prefix}}{{sns.beta_delivery_sns_topic}}"
      CustomerLicenseUpdateQueue:     "{{sqs.customer_license_update_sqs_queue}}"
      CustomersV1TopicArn:            "{{sns.arn_prefix}}{{sns.customers_v1_topic}}"
      DeltaDeliveryQueue:             "{{sqs.delta_delivery_sqs_queue_sns_listener}}"
      DeltaDeliveryTopicArn:          "{{sns.arn_prefix}}{{sns.delta_delivery_sns_topic}}"
      EmergencyInboxQueue:            "{{sqs.emergency_inbox_sqs_queue_sns_listener}}"
      GoogleWarmupTopicArn:           "{{sns.arn_prefix}}{{sns.google_integration_warmup_sns_topic}}"
      InternetDeliveryTopicArn:       "{{sns.arn_prefix}}{{sns.internet_delivery_sns_topic}}"
      JournalArchiveDeliveryTopicArn: "{{sns.arn_prefix}}{{sns.journal_archive_delivery_sns_topic}}"
      MessageHistoryQueue:            "{{sqs.msg_history_sqs_queue_sns_listener}}"
      MessageStatisticsQueue:         "{{sqs.msg_statistics_sqs_queue_sns_listener}}"
      O365AccountNumber:              "{{o365_account_id}}"
      O365DisconnectEventTopicArn:    "{{sns.arn_prefix}}{{sns.o365_disconnect_events_sns_topic}}"
      O365DomainSyncEventTopicArn:    "{{sns.arn_prefix}}{{sns.o365_domainsync_events_sns_topic}}"
      O365MailFlowConnectorTopicArn:  "{{sns.arn_prefix}}{{sns.o365_mailflow_connector_sns_topic}}"
      SenderCheckRejectQueue:         "{{sqs.sender_check_reject_queue}}"
      SenderCheckRejectTopicArn:      "{{sns.arn_prefix}}{{sns.sender_check_reject_sns_topic}}"
      MfInboundDeliveryQueue:         "{{sqs.mf_inbound_delivery_sqs_queue_sns_listener}}"
      MfOutboundDeliveryQueue:        "{{sqs.mf_outbound_delivery_sqs_queue_sns_listener}}"
      MfOutboundDeliveryTopicArn:     "{{sns.arn_prefix}}{{sns.mf_outbound_delivery_sns_topic}}"
      MfSuccessEventsTopicArn:        "{{sns.arn_prefix}}{{sns.mf_success_events_sns_topic}}"
      XgemailSuccessEventTopicArn:    "{{sns.arn_prefix}}{{sns.success_events_sns_topic}}"
      EncryptEventsTopicArn:          "{{sns.arn_prefix}}{{sns.encrypt_events_sns_topic}}"
      XdrO365DisconnectEventTopicArn:         "{{sns.arn_prefix}}{{sns.xdr_o365_disconnect_events_sns_topic}}"
      XdrO365StartSubscriptionEventTopicArn:  "{{sns.arn_prefix}}{{sns.xdr_o365_start_subscription_events_sns_topic}}"
      SndLiveBackupReindexQueue:      "{{sqs.snd_live_backup_reindex_sqs_queue_sns_listener}}"
      SndLiveBackupReindexTopicArn:   "{{sns.arn_prefix}}{{sns.snd_live_backup_reindex_sns_topic}}"
  register: messaging_b_stack

- debug:
    var: messaging_b_stack
    verbosity: 3

- name: "Display Xgemail Messaging B Stack Output"
  debug:
    msg: "{{messaging_b_stack.stack_outputs}}"
    verbosity: 2
