<!--
  ~ Copyright 2017 Sophos Limited. All rights reserved.
  ~
  ~ 'Sophos' and 'Sophos Anti-Virus' are registered trademarks of Sophos Limited and Sophos Group. All other product
  ~ and company names mentioned are trademarks or registered trademarks of their respective owners.
  -->

<configuration>
    <!--
        IMPORTANT: the logback syslog appender uses socket connections even when directing
        logs to localhost. So for this to work, you have to configure /etc/rsyslog.conf to listen
        on UDP and TCP by uncommenting these lines:

            # provides UDP syslog reception
            module(load="imudp")
            input(type="imudp" port="514")

            # provides TCP syslog reception
            module(load="imtcp")
            input(type="imtcp" port="514")
    -->

    <!--
    <appender name="SYSLOGLOCAL6" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>local6</facility>
        <port>514</port>
        <suffixPattern>[xgemail-jilter-inbound] [%thread] %logger %msg</suffixPattern>
    </appender>

    <appender name="SYSLOGMAIL" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <syslogHost>localhost</syslogHost>
        <facility>mail</facility>
        <port>514</port>
        <suffixPattern>[xgemail-jilter-inbound] [%thread] %logger %msg</suffixPattern>
    </appender>
    -->

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>SYSLOG</facility>
        <port>514</port>
        <suffixPattern>[xgemail-jilter-inbound] [%thread] %-5level %logger %msg</suffixPattern>
    </appender>

    <!--

    NOTE: change the port to something that doesn't clash with syslog before you use this.

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashSocketAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <syslogHost>localhost</syslogHost>
        <facility>local6</facility>
        <port>514</port>
        <customFields>{"appname":"xgemail-jilter-inbound"}</customFields>
    </appender>

    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.amazonaws" level="error"/>
    <logger name="org.apache.http" level="error"/>

    <!-- The master log level is specified below. In addition, each appender
        can further filter to a different log level.
        If you want a more detailed log level in one of the appenders, you have to also
        change the log level here to a more detailed level.
        Beware that more detail puts more load on the application.
        -->
    <root level="DEBUG">

        <!-- Minimal logging to stdout: -->
        <appender-ref ref="STDOUT" />
        <!-- Full logging dedicated to this app: -->
        <!--
        <appender-ref ref="SYSLOGLOCAL6" />
        -->

        <!-- Minimal logging interleaved with postfix logging: -->
        <!--
        <appender-ref ref="SYSLOGMAIL" />
        -->

        <!--
        <appender-ref ref="SYSLOG" /> -->


        
        <!-- appender-ref ref="LOGSTASH" /-->
    </root>
</configuration>
