aws_account_id: 750199083801
o365_account_id: 955759094999
connector_env: 19ec42cf-7c30-42d4-9650-6d2acd5bcf61
connector_env_newboo: 6ba78f8d-c3b5-46e6-944d-ea9376c3bdb7
cloud_applications: cloud-dev-templates
mail_domain: p0.d.hmr.sophos.com
aws:
  asg:
    cd:
      instance_size:                            "c4.xlarge"
    cs:
      instance_size:                            "c4.xlarge"
    cx:
      instance_size:                            "c4.xlarge"
    id:
      instance_size:                            "c4.xlarge"
    is:
      instance_size:                            "c4.xlarge"
    ix:
      instance_size:                            "c4.xlarge"
  ec:
    redis:
      xgemail_dqs:
        node_type:                              "cache.m5.large"
        at_rest_encryption:                     "false"
        automatic_failover:                     "true"
        number_of_nodes:                        "2"
        availability_zones:                     "{{az.a}},{{az.b}}"
  es:
    toc_elasticsearch_domain:
      state:                                                      present
  ssm:
    white_space_remove_from_header_regions_key: "xgemail.white.space.remove.from.header.aws.regions"
    white_space_remove_from_header_client_ids_key: "xgemail.white.space.remove.from.header.client.ids"
    white_space_remove_from_header_regions: "NA"
    white_space_remove_from_header_client_ids: "NA"
