aws_account_id: 769208163330
o365_account_id: 999999999999
connector_env: 75a323d6-8b09-44cf-855a-0f368a546a0d
connector_env_newboo: 7f6e8324-e4b5-4943-ac6b-dd5f27738a3d
cloud_applications: cloud-dev3-templates
aws:
  asg:
    cd:
      instance_size:                            "c4.large"
      policy_target_value:                      "90"
    cs:
      instance_size:                            "m4.2xlarge"
    cx:
      instance_size:                            "c4.large"
    id:
      instance_size:                            "c4.large"
    is:
      instance_size:                            "m4.2xlarge"
    ix:
      instance_size:                            "c4.large"
    mfix:
      instance_size:                            "c4.large"
    mfox:
      instance_size:                            "c4.large"
  ec:
    redis:
      xgemail_dqs:
        node_type:                             "cache.t2.small"
        at_rest_encryption:                    "false"
        automatic_failover:                    "false"
        number_of_nodes:                       "1"
        availability_zones:                    "{{az.a}}"
  efs:
    policy_efs_volume:
      provisioned_throughput_in_mibps:          "5"
      throughput_mode:                          "provisioned"
  es:
    toc_elasticsearch_domain:
      ebs_volume_size:                          "300"
      master_node_type:                         "m4.large.elasticsearch"
      node_type:                                "m4.xlarge.elasticsearch"
      instance_number:                          "2"
      master_instance_number:                   "3"
      snapshot_start_hour:                      "4"
      zone_awareness:                           "true"
    xgemail_elasticsearch_domain:
      ebs_volume_size:                          "1000"
      master_node_type:                         "m4.large.elasticsearch"
      node_type:                                "m4.2xlarge.elasticsearch"
      instance_number:                          "10"
      master_instance_number:                   "5"
      snapshot_start_hour:                      "4"
      zone_awareness:                           "true"
